
body{
  background-color:#551B14;
  padding:0;
}

#storeTitle{
  vertical-align: middle;
  text-align: center;
}

#header{
  background-color: #B59DA4;
}
div{
  border-bottom: solid black;
  display: inline-table;
}
h1{
  text-align: center;
  text-align: center;
}
